* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    background-color: #a9a0a0;
    color: #333;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 ,h6, span {
    font-family: "Raleway", serif;
}

.home-section,
.about-section,
.contact-section,
.skill-section,
.project-section {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    overflow-x: hidden;
    min-height: 110vh;
}

/* Navbar Styling */
nav {
    width: 100%;
}

.navbar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 1rem;
    position: fixed;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar.show {

    transform: translateY(0);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}


.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    transition: color 0.3s ease;
    color: #d4af37;
    text-shadow: 0 0 10px #d4af37;
}

/* Navbar links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.8rem;
    position: relative;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    transition: color 0.3s, transform 0.3s;
}

.nav-links a:hover {
    color: #d4af37;
    transform: scale(1.1);
}

.nav-links a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #d4af37;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}

.nav-links a.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #d4af37;
    transform: scaleX(1); 
    transition: transform 0.3s ease;
}


/* Burger Menu */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger .line {
    width: 1.2rem;
    height: 0.1rem;
    background-color: black;
    transition: transform 0.3s ease;
}

/* Home Section */
.home-section {
    position: relative;
    align-items: center;
    justify-content: space-around;
}

.home-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(15, 15, 15, 1));
}

.home-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
}

/* Foto Profil */
.profile-image {
    width: 300px;
    height: 50vh;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 26px #000000;
    transition: all 0.3s ease;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.profile-image:hover {
    box-shadow: 0 0 30px 10px rgba(212, 175, 55, 1);
    transform: scale(1.1);
}

.profile-image:hover img {
    filter: brightness(1.1);
}

.intro-text {
    max-width: 40%;
}

.intro-text h1 {
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.intro-text h1 span {
    color: #d4af37;
    text-shadow: 0 0 10px #d4af37;
}

.intro-text .typewriter {
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}

.intro-text .typewriter-text {
    color: #d4af37;
    text-shadow: 0 0 10px #d4af37;
}

.intro-text p {
    font-family: "Raleway", serif;
    color: #333333;
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

/* Media Sosial */
.social-media {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.social-link {
    text-decoration: none;
    color: #d4af37;
    background-color: #0f0f0f;
    padding: 1rem 1rem;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-link:hover {
    color: #0f0f0f;
    background-color: #d4af37;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/* CTA BUTTON */
.cta-wrapper, .profiles-button {
    margin-top: 2rem;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #d4af37;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.4s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s linear;
}

.cta-button:hover {
    transform: scale(1.2);
    background-color: #ffffff;
    color: #d4af37;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.cta-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    background: rgba(0, 123, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 0;
}

.cta-button:hover::before {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
}

.cta-button span {
    position: relative;
    z-index: 1;
}


/* About section */
.about-section{
    justify-content: center;
    background-color: #0f0f0f;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem;
    max-width: 100%;
}

.about-header, .skill-header, .project-header {
    padding-top: 3rem;
    width: 100%;
    text-align: center;
    padding-bottom: 5rem;
}

.about-header h2, .skill-header h2, .project-header h2 {
    color: #ffffff;
    font-size: 3rem;
}

.about-header p, .skill-header p {
    font-size: 2.5rem;
    transition: color 0.3s ease;
    color: #d4af37;
    text-shadow: 0 0 10px #d4af37;
}

.about-content {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* Carousel container */
.carousel {
    position: relative;
    max-width: 40%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 30px 10px rgba(212, 175, 55, 1);
}

/* Carousel track */
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Carousel items (images) */
.carousel-item {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Buttons */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d4af37;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.carousel-btn:hover {
    background-color: #d4af37;
    color: white;
    box-shadow: 0 4px 15px rgba(212, 175, 55, 1);
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.carousel-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.about-profiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 1rem;
}

#typewriter-about {
    padding-right: 1rem;
    color: #ffffff;
    font-family: "Raleway", serif;
    font-size: 1.5rem;
    border-right: 3px solid white;
    display: inline-block; 
}
      
/* Timeline */
.timeline-wrapper {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    padding: 2rem 10% 2rem;
}

.timeline-row {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.timeline-heading {
    font-size: 2rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #d4af37;
}

.timeline-heading i {
    font-size: 2.5rem;
    color: #ffffff;
}

.content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 8.6rem;
    width: 14.4rem;
    padding: 1rem;
    margin: 0 2rem;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 3px solid rgb(110, 110, 110);
    border-radius: 1rem;
    font-size: 14px;
    transition: 0.4s ease;
    cursor: pointer;
}

.content-box:hover {
    box-shadow: 0 0 25px rgba(212, 175, 55, 1);
    border: rgba(212, 175, 55, 1);
}

.timeline-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-left: 5px solid rgba(212, 175, 55, 1);
}

.content-box h3 {
    font-size: 1rem;
}

.date {
    font-size: 1.2rem;
    color: rgba(212, 175, 55, 1);
    font-weight: 700;
}


.content-box::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background-color: rgba(212, 175, 55, 1);
    border-radius: 50%;
    left: -50px;
    top: 50px;
    box-shadow: 0 0 25px rgba(212, 175, 55, 1);
    border: rgba(212, 175, 55, 1);
}

/* Skill Section */
.skill-section {
    background-color: #0f0f0f;
    justify-content: center;

} 
.skill-container {
    display: flex;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.skill-content {
    width: 70%;
    padding: 1rem;
}

.skill-content h3 {
    color: #ffffff;
    font-size: 2rem;
    margin: 1.5rem 0;
}

.skill-card {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
  }
  
.skill-tech {
    width: 100%;
    background: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 1rem;
}

.skill-tech p {
    color: #636e27;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.skill-tech:hover {
    box-shadow: 0 0 30px 10px rgba(212, 175, 55, 1);
    transform: scale(1.1);
    cursor: pointer;
}

.skill-tech-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.skill-tech-header i {
    font-size: 1.2em;
    margin-right: 0.5rem;
    min-width: 1.4rem;
}

.skill-tech-header h3 {
    color: #2d3436;
    font-size: 1.1rem;
    font-weight: 700;
}

.skill-bar {
    width: 100%;
    height: 12px;
    background: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.skill-progress {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #d4af37,#deba45);
    box-shadow: 0 0 30px 10px rgba(212, 175, 55, 1);
    border-radius: 5px;
    position: relative;
    transition: width 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.percent {
    position: absolute;
    right: 0;
    top: -20px;
    color: #2d3436;
    font-weight: 600;
    font-size: 0.8rem;
}

.fa-html5 {
    color: #e34f26;
}
.fa-css3-alt {
    color: #2965f1;
}
.fa-js {
    color: #f7df1e;
}
.fa-java {
    color: #ea2d2e;
}
.fa-python {
    color: #3776ab;
}

.skill-progress.animate {
    animation: fillBar 4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* Project Section */
.project-section {
    min-height: 100vh;
    background-color: #0f0f0f;
    padding: 2rem;
}

.project-container {
    width: 100%;
    justify-content: center;
}

.project-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    text-align: center;
}

.content-header {
    font-size: 5rem;
    color: #d4af37;
    text-shadow: 0 0 20px #d4af37;
}

/* Footer */
.footer {
    background-color: #f9f9f9; 
    color: #333; 
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-section {
    flex: 1 1 300px;
}

.footer-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #d4af37;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    position: relative;
    text-decoration: none;
    color: #333;
    transition: color 0.3s, transform 0.3s;
}

.footer-section ul li a:hover {
    color: #d4af37;
    transform: scale(1.1);
}

.footer-section ul li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #d4af37;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.footer-section ul li a:hover::after {
    transform: scaleX(1);
}

.social-links {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icon {
    font-size: 18px;
    color: #333;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    color: #d4af37; 
    transform: scale(1.2); 
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    color: #555;
    animation: fadeIn 1s ease-in-out; 
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes fillBar {
    from {
        width: 0%;
    }
    to {
        width: var(--percent);
    }
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
    .navbar-section .navbar .logo {
        font-size: 1.2rem;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.319);
        backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 30px 0;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        animation: fadeIn 0.3s ease-in-out;
    }

    .nav-links a {
        font-size: 0.9rem;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: flex;
    }

    .burger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .profile-image {
        margin-top: 50px;
        width: 200px;
        height: 35vh;
        margin-bottom: 50px;
    }


    .intro-text {
        max-width: 90%;
        /* Membuat teks memenuhi lebar layar */
    }

    .intro-text h1,
    .intro-text .typewriter {
        font-size: clamp(0.8rem, 1rem + 3vw, 2rem);
    }

    .intro-text p {
        font-size: clamp(0.4rem, 0.3rem + 8vw, 0.9rem);
        margin: 15px 0 25px 0;
    }

    .cta-button {

        font-size: 14px;
        /* Ukuran font lebih kecil */
        padding: 10px 20px;
        /* Padding lebih kecil */
    }

    .cta-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 25px;
        /* Jarak atas lebih kecil */
    }

    .social-media {
        flex-wrap: wrap;
        justify-content: center;
    }

    .social-link {
        padding: 0.8rem 0.8rem;
        font-size: 1rem;
    }

    /* About Section */
    .about-header, .skill-header, .project-header {
        padding-top: 1.8rem;
        padding-bottom: 4rem;

    }

    .about-header h2, .skill-header h2, .project-header h2 {
        font-size: 2rem;
    }

    .about-header p, .skill-header p {
        font-size: 1.8rem;
    }
    

  

    .about-content {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        gap: 3rem;
        flex-wrap: wrap;
    }

    #typewriter-about {
        font-size: 1rem;
    }

    /* Carousel */
    /* Buttons */
    .carousel {
        max-width: 80%;
    }

    .carousel-btn {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }

    /* Timeline-wrapper */

    .timeline-heading {
        font-size: 1.6rem;
        margin: 1.8rem 0;
    }

    .timeline-heading i {
        font-size: 2.2rem;
    }

    .content-box {
        gap: 0.5rem;
        height: 7.2rem;
        width: 14rem;
    }

    .timeline-box {
        gap: 1rem;
        border-left: 4px solid rgba(212, 175, 55, 1);
    }

    .content-box h3 {
        font-size: 0.8rem;
    }

    .date {
        font-size: 1rem;
    }


    .content-box::before {
        width: 20px;
        height: 20px;
        left: -46px;
        top: 50px;
    }

    .timeline-row {
        align-items: center;
        flex-direction: column;
    }

    .content-header {
        font-size: 2.5rem;
    }
    
}

@media (max-width: 480px) {
    .profile-image {
        margin-top: 40px;
        width: 180px;
        height: 30vh;
        margin-bottom: 40px;
    }

    .cta-button {
        font-size: 12px;
        /* Font lebih kecil untuk layar sangat kecil */
        padding: 8px 16px;
        /* Padding disesuaikan */
    }

    .intro-text h1,
    .intro-text .typewriter {
        font-size: clamp(0.6rem, 1rem + 2vw, 1.8rem);
    }

    .social-media {
        justify-content: center;
    }

    .social-link {
        padding: 0.6rem 0.6rem;
        font-size: 0.8rem;
    }

    .about-header h2, .skill-header h2, .project-header h2 {
        color: #ffffff;
        font-size: 1.5rem;
    }

    .about-header p, .skill-header p {
        font-size: 1.2rem;
    }

    /* timeline wrapper */
    .timeline-heading {
        font-size: 1.5rem;
    }

    .timeline-heading i {
        font-size: 1.8rem;
        color: #ffffff;

    }

    .content-box {
        width: 12rem;
    }


    .timeline-row {
        align-items: center;
        flex-direction: column;
    }
}

/* Animation for fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}